@model OPI.HHS.Insight.Models.ReferralModel
<div class="container" ng-init="init('@Model.ReferralId')">
    <div class="row">
        <div class="col-md-3">
            <h3><span>@Model.FormattedName</span></h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <span class="label label-default">Referral Id</span><span> @Model.ReferralId</span>
        </div>
        <div class="col-md-2">
            <span class="label label-default">DOB</span><span> @Model.DOB</span>
        </div>
        <div class="col-md-2">
            <span class="label label-default">Gender</span><span> @Model.Gender</span>
        </div>
        <div class="col-md-2">
            <span class="label label-default">Race</span><span> @Model.Race</span>
        </div>
        <div class="col-md-2">
            <span class="label label-default">Ethnicity</span><span> @Model.Ethnicity</span>
        </div>
    </div>

    <div class="row" style="padding-top:8px;">
        <div class="panel panel-default">
            <div class="panel-heading">{{ addresses.length}} Addresses</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Type</th>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
                    <tr ng-repeat="a in addresses" ng-click="rowClick(a.Line1,a.Line2,a.City,a.State)">
                        <td>{{a.Type}}</td>
                        <td>{{a.FormattedAddress}}</td>
                        <td>{{a.Phone}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default" ng-show="showMap">
        <div class="panel-heading">{{Lat}} / {{Lon}}</div>
        <div class="panel-body">
            <div id="mapPlaceholder" style="height:400px;width:700px;"></div>
        </div>
    </div>
</div>