@model OPI.HHS.Insight.Models.ReferralModel
<div class="container" ng-init="init('@Model.ReferralId')">
    <div class="row">
        <div class="col">
            <h3><span class="glyphicon glyphicon-user"></span><span> @Model.FormattedName</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <span class="label label-default">Referral Id</span><span> @Model.ReferralId</span>
        </div>
        <div class="col">
            <span class="label label-default">DOB</span><span> @Model.DOB</span>
        </div>
        <div class="col">
            <span class="label label-default">Gender</span><span> @Model.Gender</span>
        </div>
        <div class="col">
            <span class="label label-default">Race</span><span> @Model.Race</span>
        </div>
        <div class="col">
            <span class="label label-default">Ethnicity</span><span> @Model.Ethnicity</span>
        </div>
    </div>

    <div class="row" style="padding-top:8px;">
        <div class="panel panel-default">
            <div class="panel-heading">{{ programs.length}} Programs</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Case</th>
                        <th>Program</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Eligibility</th>
                    </tr>
                    <tr ng-repeat="p in programs">
                        <td><a ng-href='#/casedetail/{{p.CaseNumber}}'>{{p.CaseNumber}}</a></td>
                        <td>{{p.ProgramCode}}</td>
                        <td>{{p.StartDateText}}</td>
                        <td>{{p.EndDateText}}</td>
                        <td>
                            <span ng-show="p.EligiblityStatus == 'C'" class="glyphicon glyphicon-minus-sign"></span>
                            <span ng-show="p.EligiblityStatus == 'O'" class="glyphicon glyphicon-ok-sign"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:8px;">
        <div class="panel panel-default">
            <div class="panel-heading">{{ addresses.length}} Addresses</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Type</th>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
                    <tr ng-repeat="a in addresses">
                        <td ng-show="a.Type == 'PA'" title="Physical">
                            <span class="glyphicon glyphicon-home"></span>
                        </td>
                        <td ng-show="a.Type == 'MA'" title="Mailing">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </td>
                        <td><a ng-click="rowClick(a.Line1,a.Line2,a.City,a.State)">{{a.FormattedAddress}}<span class="glyphicon glyphicon-map-marker" style="cursor:pointer;"></span></a></td>
                        <td>{{a.Phone}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-show="showMap">
        <div class="panel-heading">{{Lat}} / {{Lon}}</div>
        <div class="panel-body">
            <div id="mapPlaceholder" style="height:400px;width:100%;"></div>
        </div>
    </div>
</div>